<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.psgroup.psgroup">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".PsGroupApplication"
        android:allowBackup="true"
        android:configChanges="fontScale"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ServerErrorActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".OtpForLoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LedgerActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".CompanyProfileActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".WebViewActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MyProperties"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".YouTubePlayerExampleActivity"
            android:configChanges="screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_api_key" />

        <activity
            android:name=".SplashScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".OnboardingActivity"
            android:configChanges="fontScale"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:configChanges="fontScale"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PropertyDetailsActivity"
            android:configChanges="fontScale"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoyaltyActivity"
            android:configChanges="fontScale"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".OffersActivity"
            android:configChanges="fontScale"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ProjectsActivity"
            android:configChanges="fontScale"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FilterModule.FilterActivity"
            android:configChanges="fontScale"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SearchActivity"
            android:configChanges="fontScale"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SitePlanActivity"
            android:configChanges="fontScale"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MyVisitActivity"
            android:configChanges="fontScale"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FloorPlanActivity"
            android:configChanges="fontScale"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BedRoomActivity"
            android:configChanges="fontScale"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:configChanges="fontScale"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ProfileActivity"
            android:configChanges="fontScale"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ScheduleVisitActivity"
            android:configChanges="fontScale"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name=".HomeActivity"
            android:configChanges="fontScale"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".InvoiceActivity"
            android:configChanges="fontScale"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GalleryViewActivity"
            android:configChanges="fontScale"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".TestingActivity" />
        <activity
            android:name=".GetStartedActivity"
            android:label="@string/title_activity_get_started"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SignUp"
            android:configChanges="fontScale"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".OtpActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ResendOtpActivity" />
        <activity
            android:name=".ResetPasswordActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SignUpDetailsActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".CommentsActivity"
            android:configChanges="fontScale"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RedeemNowActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".HappyOursActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ReferralHistoryActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CheckPointHistoryActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ReferPropertyActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RefreeDetailsActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".TermsAndConditionActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HelpActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ViewTicketsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GeneralEnquiryActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ExplanationOfClauseActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".WriteToUsActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" >

        </activity>
        <activity
            android:name=".TicketIdActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ScheduleNextActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".DeleteImageActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PaymentActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NotificationsModule.NotificationsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".VideoPlayerActivity"
            android:configChanges="screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>